<div id="content">
    <div jarvis-widget data-widget-colorbutton="true" data-widget-editbutton="false" data-widget-attstyle="jarviswidget-color-white">
        <header class="widget-header-wrap">
            <span class="widget-icon">
                <i class="fa fa-table"></i>
            </span>
            <h2>{{ $state.current.data.title }}</h2>
            <div class="fr">
                <input type="button" class="btn btn-primary fl margin-right-5" value="保存" data-ng-click="save()">
                <input type="button" class="btn btn-primary fl margin-right-5" value="提交出库单" data-ng-click="submit()">
                <input type="button" class="btn btn-primary fl margin-right-5" value="重置" data-ng-click="reset()">
            </div>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div style="max-width: 420px;">
                        <div class="input-group margin-bottom-10">
                            <span class="input-group-addon">调出库位</span>
                            <select smart-select2 id="select-out" class="width-full"
                                    data-ng-model="params.outStorageType">
                                <option data-ng-repeat="item in storageType" data-ng-value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                        <div class="input-group margin-bottom-10">
                            <span class="input-group-addon">调入库位</span>
                            <select smart-select2 id="select-in" class="width-full"
                                    data-ng-model="params.outStorageType">
                                <option data-ng-repeat="item in storageType" data-ng-value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                        <div class="input-group margin-bottom-10">
                            <span class="input-group-addon">调拨备注</span>
                            <input type="text" class="form-control" data-ng-model="params.allotMemo">
                        </div>
                    </div>
                </div>
                <div class="tab-pane padding-10">
                    <ul class="nav nav-tabs" id="tabs">
                        <li class="active">
                            <a href="#tabs-1" tabType="cargo" data-toggle="tab">按货物拣货</a>
                        </li>
                        <li id="sec-li">
                            <a href="#tabs-2" tabType="material" data-toggle="tab" data-ng-click="change()">按原料拣货</a>
                        </li>
                    </ul>
                    <div class="tab-content padding-10">
                        <div class="tab-pane active" id="tabs-1">
                            <div class="text-right">
                                <input type="button" class="btn btn-danger" value="批量删除" data-ng-click="delCargo()">
                                <input type="button" class="btn btn-primary" value="添加" data-ng-click="addCargo()">
                            </div>
                            <div class="margin-top-10" data-kendo-grids data-options="cargoGrid"></div>
                        </div>
                        <div class="tab-pane" id="tabs-2">
                            <div class="text-right">
                                <input type="button" class="btn btn-danger" value="批量删除" data-ng-click="delMaterial()">
                                <input type="button" class="btn btn-primary" value="添加" data-ng-click="addMaterial()">
                            </div>
                            <div class="margin-top-10" data-kendo-grids data-options="materialGrid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>