<div id="content">
    <div jarvis-widget data-widget-editbutton="false">
        <header class="custom-header">
            <h2>{{ $state.current.data.title }}</h2>
            <input type="button" class="btn btn-default btn-header" value="重置" data-ng-click="save()">
            <input type="button" class="btn btn-default btn-header" value="提交出库单" data-ng-click="submit()"
                   style="width: 100px">
            <input type="button" class="btn btn-default btn-header" value="保存" data-ng-click="save()">
        </header>

        <div>
            <div class="widget-body no-padding">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="margin-top-10 padding-top-0">
                            <h5 style="padding-left: 15px;">
                                <small>退库信息</small>
                            </h5>
                            <div class="row">
                                <div class="col-lg-12 col-sm-12 col-xs-12 margin-bottom-10">
                                    <div class="col-lg-3 col-sm-4 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">出库库位</span>
                                            <select smart-select2 class="width-full"
                                                    data-ng-model="params.outStationType">
                                                <option value="1">正常库</option>
                                                <option data-ng-repeat="item in outType" data-ng-value="item.key">
                                                    {{item.text}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-xs-12 margin-bottom-10">
                                    <div class="col-lg-3 col-sm-4 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">出库站点</span>
                                            <span data-station-tree data-select-modal="outStationParams"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12 col-xs-10 margin-bottom-10">
                                    <div class="col-lg-6 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">计划备注</span>
                                            <textarea type="text" rows="3" class="form-control custom-scroll"
                                                      data-ng-model="params.oddNumber"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="gray-line">
                <div class="padding-10">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <h5 style="padding-left: 5px;">
                                <small>退库货物明细</small>
                            </h5>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 text-align-right">
                            <input type="button" class="btn btn-default width-80" value="批量删除"
                                   data-ng-click="delCargo()">
                            <input type="button" class="btn btn-default width-80" value="添加"
                                   data-ng-click="addCargo()">
                        </div>
                    </div>
                    <div class="margin-top-10" data-kendo-grids data-options="CargoListGrid"></div>
                </div>
            </div>
        </div>

    </div>
</div>