<div class="uib-modal">
    <h1 class="uib-modal-title">
        <span data-ng-if="type==='add'">新增进货入库单</span>
        <span data-ng-if="type==='edit'">修改进货入库单</span>
        <span class="option">
            <input type="button" class="btn btn-primary fl margin-right-5" value="保存" ng-click="save()">
            <input type="button" class="btn btn-primary fl margin-right-5" value="提交审核" ng-click="saveAndSubmit()">
            <input type="button" class="btn btn-primary fl" value="取消" data-ng-click="$close();">
        </span>
    </h1>
    <div class="uib-content">
        <div data-smart-include="app/bill/procurement/modals/editContent.html"></div>
    </div>
</div>