<div>
    <div class="padding-10">
        <div class="row">
            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">货运单单号</span>
                    <input type="text" class="form-control" data-ng-model="bill.freightCode">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">入库库位</span>
                    <select id="inStorageCode" smart-select2 class="select2 width-full" data-ng-model="bill.storage.storageName">
                        <option value="">请选择</option>
                        <option data-ng-repeat="item in storageList" data-ng-value="item.value">{{item.text}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">发货件数</span>
                    <input type="text" class="form-control" data-only-number data-ng-model="bill.shippedAmount">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">实收件数</span>
                    <input type="text" class="form-control" data-ng-model="bill.actualAmount">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">供应商</span>
                    <!-- <input type="text" class="form-control" data-ng-model="bill.supplier.supplierCode"> -->
                    <span data-select-tree data-select-modal="supplierTreeOpt"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">备注</span>
                    <textarea class="form-control" rows="2" data-ng-model="bill.memo"></textarea>
                </div>
            </div>
        </div>
    </div>
    <hr class="gray-line">
    <div class="padding-10">
        <div>
            <input type="button" class="btn btn-default" value="批量删除" data-ng-click="batchDelete()">
            <input type="button" class="btn btn-primary" value="添加" data-ng-click="openAddCargoModal()">
        </div>
        <div class="margin-top-10" data-kendo-grids data-options="procurementGrid"></div>
    </div>
</div>