<div class="uib-modal">
    <h1 class="uib-modal-title">
        <span>运单新增/修改</span>
        <span class="option">
            <input type="button" class="btn btn-primary" value="提交运单" data-ng-click="traceEdit.save()">
            <input type="button" class="btn btn-default" value="取消" data-ng-click="$close();">
        </span>
    </h1>
    <div class="uib-content">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">货运单号</span>
                    <input type="text" class="form-control" data-ng-model="traceEdit.trace.wayBillCode">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">发货时间</span>
                    <input type="text" placeholder="发货时间" class="form-control" data-datepicker data-ng-model="traceEdit.trace.deliveryTime">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">预计到货时间</span>
                    <input type="text" placeholder="预计到货时间" class="form-control" data-datepicker data-ng-model="traceEdit.trace.planArrivalTime">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">物流公司</span>
                    <input type="text" class="form-control" data-ng-model="traceEdit.trace.logisticsCompanyName">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">目的地</span>
                    <input type="text" class="form-control" data-ng-model="traceEdit.trace.destination">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">运送件数</span>
                    <input type="text" class="form-control" data-only-number data-ng-model="traceEdit.trace.amountOfPackages">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">总重量(kg)</span>
                    <input type="text" class="form-control" data-confine-money data-ng-model="traceEdit.trace.totalWeight">
                </div>
            </div>
        </div>
        <div class="input-group margin-bottom-10 width-full">
            <span class="input-group-addon" style="width: 100px;">备注</span>
            <textarea class="form-control" rows="3" data-ng-model="traceEdit.trace.memo"></textarea>
        </div>
        <div class="padding-10">
            <div class="clearfix">
                <div class="fr">
                    <input type="button" class="btn btn-default width-80" value="添加" data-ng-click="traceEdit.showAddModal()">
                    <input type="button" class="btn btn-default width-80" value="批量删除" data-ng-click="traceEdit.deleteDetails()">
                </div>
                <p class="line-height-32">运单明细</p>
            </div>
            <hr class="gray-line no-margin">
            <div class="margin-top-10" data-kendo-grids data-options="traceEdit.detailsGrid"></div>
        </div>
    </div>
</div>