<div class="uib-modal">
    <h1 class="uib-modal-title">
        <span>添加货物明细</span>
        <span class="option" data-ng-if="type==='look'">
            <input type="button" class="btn btn-primary" value="导出">
            <input type="button" class="btn btn-default" value="返回" data-ng-click="$close();">
        </span>
        <span class="option" data-ng-if="type==='audit'">
            <input type="button" class="btn btn-primary" value="审核通过" data-ng-click="auditBill(true)">
            <input type="button" class="btn btn-primary" value="审核不通过" data-ng-click="auditBill(false)">
            <input type="button" class="btn btn-default" value="取消" data-ng-click="$close();">
        </span>
    </h1>
    <div class="uib-content">
        <div data-ng-if="type==='look'">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <dl class="dl-horizontal">
                        <dt>计划名称</dt>
                        <dd class="ng-binding">{{plan.billName}}</dd>
                    </dl>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <dl class="dl-horizontal">
                        <dt>计划编号</dt>
                        <dd class="ng-binding">{{plan.billCode}}</dd>
                    </dl>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <dl class="dl-horizontal">
                        <dt>计划类型</dt>
                        <dd class="ng-binding">{{plan.billType}}</dd>
                    </dl>
                </div>
            </div>
            <dl class="dl-horizontal">
                <dt>计划备注</dt>
                <dd class="ng-binding">{{plan.memo}}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>审核意见</dt>
                <dd class="ng-binding">{{plan.memo}}</dd>
            </dl>
        </div>
        <div data-ng-if="type==='audit'">
            <div class="row">
                <div class="col-sm-4 col-xs-12 margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon">计划名称</span>
                        <input type="text" class="form-control" disabled data-ng-model="plan.billName">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon">计划编号</span>
                        <input type="text" class="form-control" disabled data-ng-model="plan.billCode">
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12 margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon">计划类型</span>
                        <input type="text" class="form-control" disabled data-ng-model="plan.billType">
                    </div>
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">计划备注</span>
                <textarea type="text" rows="1" class="form-control custom-scroll" disabled data-ng-model="plan.memo"></textarea>
            </div>
        </div>
    </div>
    <hr class="gray-line">
    <div data-ng-repeat="item in itemMap" class="plan-panel margin-bottom-10">
        <div class="plan-panel-head text-center">
            <i class="fa" data-ng-class="item.unfurled?'fa-minus':'fa-plus'" data-ng-click="scaling($index)"></i>
        </div>
        <div class="plan-panel-body">
            <div data-ng-hide="item.unfurled">
                <p class="no-margin" data-ng-if="item.material">原料名称:咖啡豆</p>
                <p class="no-margin" data-ng-if="item.cargo">货物名称:咖啡豆</p>
            </div>
            <div data-ng-show="item.unfurled">
                <div class="row" data-ng-if="item.material">
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>原料名称</dt>
                        <dd data-ng-bind="item.cargo.cargoName"></dd>
                    </dl>
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>原料编码</dt>
                        <dd data-ng-bind="item.cargo.cargoCode"></dd>
                    </dl>
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>所属原料分类</dt>
                        <dd data-ng-bind="item.cargo.barCode"></dd>
                    </dl>
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>最小标准单位</dt>
                        <dd data-ng-bind="item.cargo.selfBarCode"></dd>
                    </dl>
                </div>
                <div class="row" data-ng-if="item.cargo">
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>货物名称</dt>
                        <dd data-ng-bind="item.cargo.cargoName"></dd>
                    </dl>
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>货物编码</dt>
                        <dd data-ng-bind="item.cargo.cargoCode"></dd>
                    </dl>
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>货物条码</dt>
                        <dd data-ng-bind="item.cargo.barCode"></dd>
                    </dl>
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>货物自定义条码</dt>
                        <dd data-ng-bind="item.cargo.selfBarCode"></dd>
                    </dl>
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>所属原料</dt>
                        <dd data-ng-bind="item.cargo.materialName"></dd>
                    </dl>
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>规格</dt>
                        <dd data-ng-bind="item.cargo.number + item.cargo.measurementName"></dd>
                    </dl>
                    <dl class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10 dl-horizontal no-padding">
                        <dt>分类</dt>
                        <dd data-ng-bind="item.cargo.class"></dd>
                    </dl>
                </div>
                <hr class="gary-line">
                <div data-kendo-grids data-options="item.stationGrid"></div>
            </div>
        </div>
    </div>
    <hr class="gray-line">
    <div class="input-group" data-ng-show="type==='audit'">
        <span class="input-group-addon">审核意见</span>
        <textarea type="text" rows="3" class="form-control custom-scroll" data-ng-model="auditMemo"></textarea>
    </div>
</div>