<div class="uib-modal" data-ng-init="initPage()">
    <h1 class="uib-modal-title">
        <span>站点配送计划拣货</span>
        <span class="option">
            <input type="button" class="btn btn-default" value="取消" data-ng-click="$close();">
        </span>
    </h1>
    <div class="uib-content">
        <div class="row">
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>调拨单号</dt>
                <dd>123213</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>调拨单调出库位</dt>
                <dd>123213</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>调拨单调入库位</dt>
                <dd>123213</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>入库单调出站点</dt>
                <dd>123213</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>入库单调入站点</dt>
                <dd>123213</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>调拨时间</dt>
                <dd>123213</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>调拨单调拨人</dt>
                <dd>123213</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>审核人</dt>
                <dd>123213</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>备注</dt>
                <dd>123213</dd>
            </dl>
        </div>
    </div>
    <p class="text-center" data-ng-if="">已选择货物</p>
    <div class="margin-top-10" data-kendo-grids data-ng-if="detailsGrid" data-options="detailsGrid"></div>
</div>