<div id="content">
    <div jarvis-widget data-widget-colorbutton="true" data-widget-editbutton="false" data-widget-attstyle="jarviswidget-color-white">
        <header class="widget-header-wrap">
            <span class="widget-icon">
                <i class="fa fa-table"></i>
            </span>
            <h2>{{ $state.current.data.title }}</h2>
            <div class="fr">
                <input type="button" class="btn btn-primary fl margin-right-5" value="保存" data-ng-click="savePick()">
                <input type="button" class="btn btn-primary fl margin-right-5" value="提交出库单" data-ng-click="submitPick()">
                <input type="button" class="btn btn-primary fl margin-right-5" value="取消" data-ng-click="">
            </div>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div style="max-width: 420px;">
                        <div class="input-group margin-bottom-10">
                            <span class="input-group-addon">出库库位</span>
                            <select smart-select2 id="outStorageCode" class="width-full" data-ng-model="params.outStorageType">
                                <option value="">请选择</option>
                                <option data-ng-repeat="item in outType" data-ng-value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                        <div class="input-group margin-bottom-10">
                            <span class="input-group-addon">入库站点</span>
                            <span data-station-tree data-select-modal="inStationParams"></span>
                        </div>
                        <div class="input-group margin-bottom-10">
                            <span class="input-group-addon">出库备注</span>
                            <input type="text" class="form-control" data-ng-model="params.outStorageMemo">
                        </div>
                    </div>
                </div>
                <div class="padding-10">
                    <div class="text-right">
                        <input type="button" class="btn btn-danger" value="批量删除" data-ng-click="batchDelete()">
                        <input type="button" class="btn btn-default" value="添加" data-ng-click="chooseCargo()">
                    </div>
                    <div class="margin-top-10" data-kendo-grids data-options="planGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>