<div id="content">
    <div jarvis-widget id="materialList" data-widget-color="darken" data-widget-editbutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-table"></i>
            </span>
            <h2>{{ $state.current.data.title }}</h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">货物内部名称</span>
                                <input type="text" class="form-control" data-ng-model="kendoQueryCondition.originalName">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">自定义条码</span>
                                <input type="text" class="form-control" data-ng-model="kendoQueryCondition.selfBarCode">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">所属原料</span>
                                <span data-select-tree data-select-modal="materialForSearch"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">货物商品名称</span>
                                <input type="text" class="form-control" data-ng-model="kendoQueryCondition.cargoName">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">货物条码</span>
                                <input type="text" class="form-control" data-ng-model="kendoQueryCondition.barCode">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">货物编码</span>
                                <input type="text" class="form-control" data-ng-model="kendoQueryCondition.cargoCode">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">建档时间</span>
                                <input type="text" placeholder="开始时间" class="form-control" data-datepicker data-ng-model="kendoQueryCondition.createStartTime">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <span class="input-group-addon">至</span>
                                <input type="text" placeholder="结束时间" class="form-control" data-datepicker data-ng-model="kendoQueryCondition.createEndTime">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="showMoreParams">
                        <hr class="gray-line">
                        <div class="row">
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <div class="input-group">
                                    <span class="input-group-addon">保质期(天)</span>
                                    <input type="text" class="form-control" data-ng-model="kendoQueryCondition.effectiveTime">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <div class="input-group">
                                    <span class="input-group-addon">建档人</span>
                                    <input type="text" class="form-control" data-ng-model="kendoQueryCondition.operatorCode">
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <div class="input-group">
                                    <span class="input-group-addon">最小标准单位</span>
                                    <select smart-select2 class="select2 width-full" data-ng-model="kendoQueryCondition.standardUnitCode">
                                        <option value="">请选择</option>
                                        <option data-ng-repeat="item in materialConfigure" data-ng-value="item.value">{{item.text}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                                <div class="input-group">
                                    <span class="input-group-addon">规格</span>
                                    <input type="text" class="form-control before-select2" data-ng-model="kendoQueryCondition.number">
                                    <span class="display-table-cell" style="width: 80px;">
                                        <select smart-select2 class="select2 width-full" data-ng-model="kendoQueryCondition.measurementCode">
                                            <option value="">请选择</option>
                                            <option data-ng-repeat="item in cargoConfigure" data-ng-value="item.value">{{item.text}}</option>
                                        </select>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <input type="button" class="btn btn-primary width-80" value="查询" data-ng-click="search()">
                            <input type="button" class="btn btn-default" value="更多查询条件" data-ng-click="toggleMoreParams()">
                        </div>
                    </div>
                </div>
                <div class="padding-10">
                    <div class="margin-bottom-10">
                        <input type="button" class="btn btn-default width-80" value="新增" data-ng-click="addCargo()">
                    </div>
                    <div id="cargoList">
                        <div data-kendo-grids data-options="cargoList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>