<div id="content">
    <div jarvis-widget data-widget-editbutton="false" data-widget-attstyle="jarviswidget-color-white">
        <header class="widget-header-wrap">
            <span class="widget-icon">
                <i class="fa fa-table"></i>
            </span>
            <h2>{{ $state.current.data.title }}</h2>
            <div class="fr">
                <input type="button" class="btn btn-primary fl margin-right-5" value="提交审核" ng-click="submit()">
                <input type="button" class="btn btn-primary fl margin-right-5" value="保存" ng-click="save()">
                <input type="button" class="btn btn-primary fl" value="取消">
            </div>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">计划名称</span>
                                <input type="text" class="form-control" data-ng-model="plan.billName">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group margin-bottom-10">
                                <span class="input-group-addon">计划类型</span>
                                <select id="billType" smart-select2 class="width-full" data-ng-model="plan.billType">
                                    <option value="">请选择</option>
                                    <option data-ng-repeat="item in billType" data-ng-value="item.key">{{item.text}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10" data-ng-if="plan.billCode">
                            <div class="input-group margin-bottom-10">
                                <span class="input-group-addon">计划编码</span>
                                <input type="text" class="form-control" disabled data-ng-model="plan.billCode">
                            </div>
                        </div>
                    </div>
                    <div class="input-group margin-bottom-10 width-full">
                        <span class="input-group-addon" style="width: 100px;">备注</span>
                        <textarea class="form-control" rows="3" data-ng-model="plan.memo"></textarea>
                    </div>
                </div>
                <div class="padding-10">
                    <div class="tab-pane">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#tabs-1" data-toggle="tab" tabType="cargo">按货物计划</a>
                            </li>
                            <li>
                                <a href="#tabs-2" data-toggle="tab" tabType="material">按原料计划</a>
                            </li>
                        </ul>
                        <div class="tab-content padding-10">
                            <div class="tab-pane" id="tabs-1">
                                <div data-smart-include="app/bill/plan/views/addConsultCargo.html"></div>
                            </div>
                            <div class="tab-pane" id="tabs-2">
                                <div data-smart-include="app/bill/plan/views/addConsultMaterial.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>