<div id="content">
    <div jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-table"></i>
            </span>
            <h2>{{ $state.current.data.title }}</h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">计划名称</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">计划中心</span>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group margin-bottom-10">
                                <span class="input-group-addon">计划类型</span>
                                <select smart-select2 class="width-full">
                                    <option value="">请选择</option>
                                    <option data-ng-repeat="item in billType" data-ng-value="item.key">{{item.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-group margin-bottom-10 width-full">
                        <span class="input-group-addon" style="width: 100px;">备注</span>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="padding-10">
                    <div class="tab-pane">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tabs-1" data-toggle="tab">按货物计划</a>
                            </li>
                            <li>
                                <a href="#tabs-2" data-toggle="tab">按原料计划</a>
                            </li>
                        </ul>
                        <div class="tab-content padding-10">
                            <div class="tab-pane active" id="tabs-1">
                                <div data-smart-include="app/bill/plan/views/addConsultCargo.html"></div>
                            </div>
                            <div class="tab-pane" id="tabs-2">
                                <div data-smart-include="app/bill/plan/views/addConsultMaterial.html"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>