<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>
            <li><a data-ui-sref="app.home" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{getWord('Home')}}</span></a></li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">总部计划中心</span></a>
                <ul>
                    <li><a data-ui-sref="app.bill.plan.add" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">添加总部计划</span></a></li>
                    <li><a data-ui-sref="app.bill.plan.list" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查询总部计划</span></a></li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">进货</span></a>
                <ul>
                    <li><a data-ui-sref="app.bill.procurement.add" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">进货录单</span></a></li>
                    <li><a data-ui-sref="app.bill.procurement.list" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查询进货入库单</span></a></li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">运单跟踪</span></a>
                <ul>
                    <li><a data-ui-sref="app.bill.trace.list" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查询列表</span></a></li>
                    <li><a data-ui-sref="app.bill.trace.add" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">添加运单</span></a></li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">退库</span></a>
                <ul>
                    <li><a data-ui-sref="app.bill.restock.planSearch" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查询站点退库计划</span></a></li>
                    <li><a data-ui-sref="app.bill.restock.selfPick" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">站点退库拣货</span></a></li>
                    <li><a data-ui-sref="app.bill.restock.outSearch" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查询退库出库单</span></a></li>
                    <li data-menu-collapse>
                        <a href="#"><i class="fa fa-fw fa-folder-open"></i>站点调拨</a>
                        <ul>
                            <li><a data-ui-sref="app.bill.restock.inSearch" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查询退库入库单</span></a></li>
                            <li><a data-ui-sref="app.bill.restock.inView" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查看退库入库单</span></a></li>
                            <li><a data-ui-sref="app.bill.restock.inAction" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">退库到货调拨</span></a></li>
                            <li><a data-ui-sref="app.bill.restock.inActionSearch" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查询退库调拨单</span></a></li>
                            <li><a data-ui-sref="app.bill.restock.inActionView" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查看退库调拨单</span></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li data-menu-collapse>
                <a href="#"><i class="fa fa-lg fa-fw fa-desktop"></i> <span class="menu-item-parent">配送</span></a>
                <ul>
                    <li><a data-ui-sref="app.bill.delivery.planList" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">查询站点配送计划</span></a></li>
                    <li><a data-ui-sref="app.bill.delivery.pick" title="Outlook"> <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">站点配送拣货</span></a></li>
                </ul>
            </li>
        </ul>

        <!-- NOTE: This allows you to pull menu items from server -->
        <!-- <ul data-smart-menu-items="/api/menu-items.json"></ul> -->
    </nav>

    <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>