<div id="content">
    <div jarvis-widget data-widget-color="darken" data-widget-editbutton="false">
        <header>
            <span class="widget-icon">
                <i class="fa fa-table"></i>
            </span>
            <h2>{{ $state.current.data.title }}</h2>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div class="row">
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">货运单号</span>
                                <input type="text" class="form-control" data-ng-model="params.oddNumber">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-8 col-xs-12 margin-bottom-10">
                            <div class="display-flex">
                                <div class="flex-1">
                                    <div class="input-group">
                                        <span class="input-group-addon">发货时间</span>
                                        <input type="text" class="form-control" data-datepicker data-ng-model="params.oddNumber">
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="border-left: 0;">至</span>
                                        <input type="text" class="form-control" data-datepicker data-ng-model="params.oddNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">物流公司</span>
                                <input type="text" class="form-control" data-ng-model="params.oddNumber">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-8 col-xs-12 margin-bottom-10">
                            <div class="display-flex">
                                <div class="flex-1">
                                    <div class="input-group">
                                        <span class="input-group-addon">录单时间</span>
                                        <input type="text" class="form-control" data-datepicker data-ng-model="params.oddNumber">
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="border-left: 0;">至</span>
                                        <input type="text" class="form-control" data-datepicker data-ng-model="params.oddNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">入库站点</span>
                                <span data-station-tree data-select-modal="outStationParams"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">出库站点</span>
                                <select id="standardUnitCode" smart-select2 class="select2 width-full" data-ng-model="params.oddNumber">
                                    <option value="">请选择</option>
                                    <option data-ng-repeat="item in materialConfigure" data-ng-value="item.value">{{item.text}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">运送件数</span>
                                <input type="text" class="form-control" data-ng-model="params.number">
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-4 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">运单状态</span>
                                <select id="standardUnitCode" smart-select2 class="select2 width-full" data-ng-model="params.status">
                                    <option value="">请选择</option>
                                    <option data-ng-repeat="item in materialConfigure" data-ng-value="item.value">{{item.text}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="button" class="btn btn-primary width-80" value="查询" data-ng-click="search()">
                    </div>
                </div>
                <div class="padding-10">
                    <div>
                        <input type="button" class="btn btn-default width-80" value="添加" data-ng-click="addTrace()">
                    </div>
                    <hr class="gray-line">
                    <div class="margin-top-10" data-kendo-grids data-options="traceGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>