<div class="uib-modal"  data-ng-init="initPage()">
    <h1 class="uib-modal-title">
        <span>实物点数</span>
        <span class="option">
            <input type="button" class="btn btn-default" value="取消" data-ng-click="$close();">
        </span>
    </h1>
    <div class="uib-content">
        <div class="row">
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>货物名称</dt>
                <dd>{{ item.cargoName }}</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>货物条码</dt>
                <dd>{{ item.cargoCode }}</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>所属原料</dt>
                <dd>{{ item.rawMaterialName }}</dd>
            </dl>
            <dl class="col-sm-6 col-xs-12 margin-bottom-10 dl-horizontal">
                <dt>规格</dt>
                <dd>{{ item.number }}{{ item.standardUnitName }}</dd>
            </dl>
        </div>
        <hr class="gray-line">
        <div class="row margin-bottom-10">
            <div class="col-sm-6 col-sm-offset-3 col-xs-12">
                <div class="input-group margin-bottom-10">
                    <span class="input-group-addon">
                        <span class="radio no-margin">
                            <label><input type="radio" class="radiobox" name="typeOpt" value="add" data-ng-model="item.type"><span> 增加数量</span></label>
                        </span>
                    </span>
                    <input class="form-control" placeholder="" type="text" data-ng-model="item.addNumber" data-only-number ng-disabled="item.type === 'sub'">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">
                        <span class="radio no-margin">
                            <label><input type="radio" class="radiobox" name="typeOpt" value="sub" data-ng-model="item.type"><span> 减少数量</span></label>
                        </span>
                    </span>
                    <input class="form-control" placeholder="" type="text" data-ng-model="item.subNumber" data-only-number ng-disabled="item.type === 'add'">
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="button" class="btn btn-primary width-80" value="确定" data-ng-click="submitByCargo()">
        </div>
    </div>
</div>
