<div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
            <div class="input-group">
                <span class="input-group-addon">货运单号</span>
                <input type="text" class="form-control" data-ng-disabled="isRead" data-ng-model="trace.wayBillCode">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
            <div class="input-group">
                <span class="input-group-addon">发货时间</span>
                <input type="text" placeholder="发货时间" class="form-control" data-ng-disabled="isRead" data-datepicker data-ng-model="trace.deliveryTime">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
            <div class="input-group">
                <span class="input-group-addon">预计到货时间</span>
                <input type="text" placeholder="预计到货时间" class="form-control" data-ng-disabled="isRead" data-datepicker data-ng-model="trace.planArrivalTime">
                <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
            <div class="input-group">
                <span class="input-group-addon">物流公司</span>
                <input type="text" class="form-control" data-ng-disabled="isRead" data-ng-model="trace.logisticsCompanyName">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4" data-ng-if="!isRead">
            <div class="input-group margin-bottom-10">
                <span class="input-group-addon">出库站点</span>
                <span data-station-tree data-select-modal="outStationParams"></span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10" data-ng-if="isRead">
            <div class="input-group">
                <span class="input-group-addon">出库站点</span>
                <input type="text" class="form-control" data-ng-disabled="isRead" data-ng-model="trace.outStationCode">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-4" data-ng-if="!isRead">
            <div class="input-group margin-bottom-10">
                <span class="input-group-addon">入库站点</span>
                <span data-station-tree data-select-modal="inStationParams"></span>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10" data-ng-if="isRead">
            <div class="input-group">
                <span class="input-group-addon">入库站点</span>
                <input type="text" class="form-control" data-ng-disabled="isRead" data-ng-model="trace.inStationCode">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
            <div class="input-group">
                <span class="input-group-addon">运送件数</span>
                <input type="text" class="form-control" data-only-number data-ng-disabled="isRead" data-ng-model="trace.amountOfPackages">
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 margin-bottom-10">
            <div class="input-group">
                <span class="input-group-addon">总重量(kg)</span>
                <input type="text" class="form-control" data-confine-money data-ng-disabled="isRead" data-ng-model="trace.totalWeight">
            </div>
        </div>
    </div>
    <div class="input-group margin-bottom-10 width-full">
        <span class="input-group-addon" style="width: 100px;">备注</span>
        <textarea class="form-control" rows="3" data-ng-model="trace.memo" data-ng-disabled="isRead"></textarea>
    </div>
    <div class="padding-10">
        <div class="clearfix">
            <div class="fr" data-ng-hide="isRead">
                <input type="button" class="btn btn-default width-80" value="添加" data-ng-click="showAddModal()">
                <input type="button" class="btn btn-default width-80" value="批量删除" data-ng-click="deleteDetails()">
            </div>
            <p class="line-height-32">运单明细</p>
        </div>
        <hr class="gray-line no-margin">
        <div class="margin-top-10" data-kendo-grids data-options="detailsGrid"></div>
    </div>
</div>