<div class="uib-modal">
    <h1 class="uib-modal-title">
        <span>添加运单明细</span>
        <span class="option">
            <input type="button" class="btn btn-primary" value="添加" data-ng-click="addDetails()">
            <input type="button" class="btn btn-primary" value="下一条" data-ng-click="addDetails(true)">
            <input type="button" class="btn btn-default" value="取消" data-ng-click="$close();">
        </span>
    </h1>
    <div class="uib-content">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="input-group margin-bottom-10">
                    <span class="input-group-addon">出库单号</span>
                    <input type="text" class="form-control" data-ng-disabled="currentDetails.isRead" data-ng-model="currentDetails.outStorageBillCode" data-ng-keyup="enterBillCode()">
                    <div class="input-group-btn">
                        <input class="btn btn-default" type="button" value="获取本单信息" data-ng-disabled="currentDetails.isRead" data-ng-click="searchBill()">
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-group margin-bottom-10">
                    <span class="input-group-addon">录单人</span>
                    <input type="text" class="form-control" data-ng-disabled="currentDetails.isRead" data-ng-model="currentDetails.operatorName">
                </div>
            </div>
            <div>
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon">是否单独打包</span>
                        <select id="packageType" smart-select2 class="select2 width-full" data-ng-disabled="currentDetails.isRead" data-ng-model="currentDetails.packageType" data-ng-change="packageTypeChange()">
                            <option value="">请选择</option>
                            <option data-ng-repeat="item in packageType" value="{{item.value}}">{{item.text}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="input-group margin-bottom-10" data-ng-repeat="item in packageMap">
                        <span class="input-group-addon">所属包号</span>
                        <input type="text" data-ng-disabled="currentDetails.isRead" class="form-control" data-ng-model="item.text">
                        <div class="input-group-btn" data-ng-if="$last && currentDetails.packageType==='ONE_BILL_TO_MANY_PACKAGE'">
                            <input class="btn btn-default" data-ng-disabled="currentDetails.isRead" type="button" value="添加一条" data-ng-click="addPackageMap()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-group margin-bottom-10">
                    <span class="input-group-addon">品种数</span>
                    <input type="text" class="form-control" data-ng-disabled="currentDetails.isRead" data-only-number data-ng-model="currentDetails.totalCount">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-group margin-bottom-10">
                    <span class="input-group-addon">货物数</span>
                    <input type="text" class="form-control" data-ng-disabled="currentDetails.isRead" data-only-number data-ng-model="currentDetails.totalAmount">
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">出库时间</span>
                    <input type="text" placeholder="出库时间" data-ng-disabled="currentDetails.isRead" class="form-control" data-datepicker data-ng-model="currentDetails.outStorageTime">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>