<div id="content">
    <div jarvis-widget data-widget-colorbutton="true" data-widget-editbutton="false" data-widget-attstyle="jarviswidget-color-white">
        <header class="widget-header-wrap">
            <span class="widget-icon">
                <i class="fa fa-table"></i>
            </span>
            <h2>{{ $state.current.data.title }}</h2>
            <div class="fr">
                <input type="button" class="btn btn-primary fl margin-right-5" value="查询" data-ng-click="search()">
                <input type="button" class="btn btn-default fl margin-right-5" value="重置" data-ng-click="reset()">
            </div>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div class="row">
                        <div class="col-lg-4 col-sm-5 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">计划编码</span>
                                <input type="text" class="form-control" data-ng-model="params.billCode">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-5 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">调出站点</span>
                                <span data-station-tree data-select-modal="outStationParams"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-5 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">调入站点</span>
                                <span data-station-tree data-select-modal="inStationParams"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-5 col-xs-12 margin-bottom-10">
                            <div class="input-group">
                                <span class="input-group-addon">录单人</span>
                                <input type="text" class="form-control" data-ng-model="params.creatorName">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-8 col-xs-12 margin-bottom-10">
                            <div class="display-flex">
                                <div class="flex-1">
                                    <div class="input-group">
                                        <span class="input-group-addon">录单日期</span>
                                        <input type="text" class="form-control" data-datepicker
                                               data-ng-model="params.createStartTime">
                                    </div>
                                </div>
                                <div class="flex-1">
                                    <div class="input-group">
                                        <span class="input-group-addon" style="border-left: 0;">至</span>
                                        <input type="text" class="form-control" data-datepicker
                                               data-ng-model="params.createEndTime">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="padding-10">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12">
                            <h5 style="padding-left: 5px;">
                                <small>
                                    配送出库单列表
                                </small>
                            </h5>
                        </div>
                    </div>
                    <hr class="gray-line">
                    <section id="grid">
                        <div class="margin-top-10" data-kendo-grids data-options="planGrid"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>