<div class="uib-modal">
    <h1 class="uib-modal-title">
        <span>添加货物明细</span>
        <span class="option">
            <input type="button" class="btn btn-primary" value="提交选中货物" data-ng-click="submit()">
            <input type="button" class="btn btn-default" value="取消" data-ng-click="$close();">
        </span>
    </h1>
    <div class="uib-content">
        <div class="row">
            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">货物名称</span>
                    <input type="text" class="form-control" data-ng-model="params.cargoName">
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 margin-bottom-10">
                <div class="input-group">
                    <span class="input-group-addon">货物条码</span>
                    <input type="text" class="form-control" data-ng-model="params.barCode">
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 margin-bottom-10 text-center-xs">
                <input type="button" class="btn btn-default width-80" value="查询" data-ng-click="search()">
            </div>
        </div>
        <hr class="gray-line">
        <div class="margin-top-10" data-kendo-grids data-options="cargoList"></div>
        <div class="text-center margin-top-10">
            <input type="button" class="btn btn-default" value="添加选中货物" data-ng-click="addCargo()">
        </div>
        <hr class="gray-line">
        <h2 class="text-center margin-top-10">已选中货物</h2>
        <div class="margin-top-10" data-kendo-grids data-options="currentCargoList"></div>
    </div>
</div>