<div id="content">
    <div jarvis-widget data-widget-colorbutton="true" data-widget-editbutton="false" data-widget-attstyle="jarviswidget-color-white">
        <header class="widget-header-wrap">
            <span class="widget-icon">
                <i class="fa fa-table"></i>
            </span>
            <h2>{{ $state.current.data.title }}</h2>
            <div class="fr" data-ng-if="type==='look'">
                <input type="button" class="btn btn-primary fl margin-right-5" value="导出">
                <input type="button" class="btn btn-primary fl" value="取消">
            </div>
            <div class="fr" data-ng-if="type==='audit'">
                <input type="button" class="btn btn-primary fl margin-right-5" value="审核不通过">
                <input type="button" class="btn btn-primary fl margin-right-5" value="审核通过">
                <input type="button" class="btn btn-primary fl" value="取消">
            </div>
        </header>
        <div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div class="padding-10">
                        <dl class="dl-horizontal">
                            <dt>货运单单号</dt>
                            <dd class="ng-binding">13213213</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>入库库位</dt>
                            <dd class="ng-binding">13213213</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>发货件数</dt>
                            <dd class="ng-binding">13213213</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>实收件数</dt>
                            <dd class="ng-binding">13213213</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>供应商</dt>
                            <dd class="ng-binding">13213213</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>备注</dt>
                            <dd class="ng-binding">13213213</dd>
                        </dl>
                    </div>
                </div>
                <div class="padding-10">
                    <p>入库单详情</p>
                    <hr class="gray-line">
                    <div class="margin-top-10" data-kendo-grids data-options="procurementGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>