<div class="uib-modal" data-ng-init="initPage()">
    <h1 class="uib-modal-title">
        <span>站点调剂计划拣货</span>
        <span class="option">
            <input type="button" class="btn btn-default" value="调拨" data-ng-click="transfers()">
            <input type="button" class="btn btn-default" value="取消" data-ng-click="$close();">
        </span>
    </h1>
    <div class="uib-content">
        <div class="row">
            <div class="col-sm-6 col-xs-12 margin-bottom-10">
                <p>库位信息</p>
                <div style="border: 1px dashed #ddd;padding: 10px;" data-ng-if="billDetails.sourceType==='new'">
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon">单据属性</span>
                        <input type="text" class="form-control" disabled data-ng-model="billDetails.sourceBillTypeName">
                    </div>
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon">调出库位</span>
                        <input type="text" class="form-control" disabled data-ng-model="billDetails.outLocation.storage.storageName">
                    </div>
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon">调入库位</span>
                        <select smart-select2 class="select2 width-full" data-ng-model="billDetails.inLocation.storage.storageCode">
                            <option value="">请选择</option>
                            <option data-ng-repeat="item in outType" data-ng-value="item.value">
                                {{item.text}}
                            </option>
                        </select>
                    </div>
                </div>
                <div style="border: 1px dashed #ddd;padding: 10px;" data-ng-if="billDetails.sourceType==='old'">
                    <dl class="margin-bottom-10 dl-horizontal">
                        <dt>调拨单号</dt>
                        <dd data-ng-bind="billDetails.billCode"></dd>
                    </dl>
                    <dl class="margin-bottom-10 dl-horizontal">
                        <dt>单据属性</dt>
                        <dd data-ng-bind="billDetails.billCode"></dd>
                    </dl>
                    <dl class="margin-bottom-10 dl-horizontal">
                        <dt>调出库位</dt>
                        <dd data-ng-bind="billDetails.outLocation.storage.storageName"></dd>
                    </dl>
                    <dl class="margin-bottom-10 dl-horizontal">
                        <dt>调入库位</dt>
                        <dd data-ng-bind="billDetails.inLocation.storage.storageName"></dd>
                    </dl>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 margin-bottom-10">
                <p>调剂入库单信息</p>
                <div style="border: 1px dashed #ddd;padding: 10px;">
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon">入库时间</span>
                        <input type="text" class="form-control" disabled data-ng-model="billDetails.createTime">
                    </div>
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon">出库站点</span>
                        <input type="text" class="form-control" disabled data-ng-model="billDetails.outLocation.stationName">
                    </div>
                    <div class="input-group margin-bottom-10">
                        <span class="input-group-addon">入库站点</span>
                        <input type="text" class="form-control" disabled data-ng-model="billDetails.inLocation.stationName">
                    </div>
                </div>
            </div>
        </div>
        <hr class="gray-line">
        <div data-ng-if="detailsGrid" class="margin-top-10" data-kendo-grids data-options="detailsGrid"></div>
    </div>
</div>