<div id="content">
    <div jarvis-widget data-widget-colorbutton="true" data-widget-editbutton="false"
         data-widget-attstyle="jarviswidget-color-white">
        <header class="widget-header-wrap">
            <span class="widget-icon">
                <i class="fa fa-table"></i>
            </span>
            <h2>{{ $state.current.data.title }}</h2>
            <div class="fr">
                <input type="button" class="btn btn-primary fl margin-right-5" value="重置" data-ng-click="reset()">
                <input type="button" class="btn btn-primary fl margin-right-5" value="提交出库单" data-ng-click="submit()">
                <input type="button" class="btn btn-primary fl margin-right-5" value="保存" data-ng-click="save()">
            </div>
        </header>

        <div>
            <div class="widget-body no-padding">
                <div class="widget-body-toolbar">
                    <div style="max-width: 420px;">
                        <div class="input-group margin-bottom-10">
                            <span class="input-group-addon">出库库位</span>
                            <select smart-select2 id="select-out" class="width-full"
                                    data-ng-model="params.outStorageType">
                                <option data-ng-repeat="item in storageType" data-ng-value="item.value">
                                    {{item.text}}
                                </option>
                            </select>
                        </div>
                        <div class="input-group margin-bottom-10">
                            <span class="input-group-addon">调入站点</span>
                            <span data-station-tree data-select-modal="inStationParams"></span>
                        </div>
                        <div class="input-group margin-bottom-10">
                            <span class="input-group-addon">出库备注</span>
                            <input type="text" class="form-control" data-ng-model="params.outStorageMemo">
                        </div>
                    </div>
                </div>
                <div class="padding-10">
                    <div class="text-right">
                        <input type="button" class="btn btn-danger width-80" value="批量删除"
                               data-ng-click="delCargo()">
                        <input type="button" class="btn btn-primary width-80" value="添加"
                               data-ng-click="addCargo()">
                    </div>
                    <div class="margin-top-10" data-kendo-grids data-options="cargoListGrid"></div>
                </div>
            </div>
        </div>
    </div>
</div>